<% layout("layouts/boilerplate") %>
    <h1>
        THIS IS:
    </h1>
    <h1>
        <%= streetart.title %>
    </h1>
    <h2>
        <%= streetart.location %>
    </h2>
    <img src="<%= streetart.image%>" alt="" />
    <p> <%= streetart.description %>"" </p>
    <a href="/street-arts/<%=streetart._id%>/edit"> 
        Edit
    </a>

    <p>
        <form 
            action="/street-arts/<%=streetart._id%>?_method=DELETE"
            method="POST"
        >
            <button>
                Delete
            </button>
        </form>
    </p>

    <footer>

        <a href="/street-arts"> 
            Show all street arts
        </a>
    </footer>