<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= streetart.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= streetart.title%></h5>
              <p class="card-text"><%= streetart.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= streetart.author%></li>
              <li class="list-group-item"><%= streetart.location%></li>
            </ul>
            <div class="card-body">
                <a 
                    class="card-link btn btn-info"
                    href="/street-arts/<%=streetart._id%>/edit"
                > 
                    Edit
                </a>
              
                <form 
                    class="d-inline"
                    action="/street-arts/<%=streetart._id%>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Posted 3 days ago
            </div>
          </div>

        <form 
            class="mb-3" 
            action="/street-arts/<%=streetart._id%>/comments" 
            method="POST"
        >
            <div class="mb-3">
                <label class="form-label" for="rating">
                    Rating
                </label>
                <input 
                    class="form-range"
                    type="range"
                    min="1"
                    max="5"
                    name="comment[rating]"
                    id="rating"

            />

            </div>
            <div class="mb-3">
                <label for="body" class="form-label">
                    What do you think about this street art?
                </label>
                <textarea
                    class="form-control"
                    name="comment[body]"
                    id="body"
                    cols="30"
                    rows="3"    
                >

                </textarea>
            </div>
            <button class="btn btn-success">
                Comment!
            </button>
         </form>
    </div>
</div>


    <footer>

        <a href="/street-arts"> 
            Show all street arts
        </a>
    </footer>